core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
/workspace/mildew-detection-in-cherry-leaves/inputs/mildew_detection_in_cherry_leaves/cherry-leaves/test
/workspace/mildew-detection-in-cherry-leaves/inputs/mildew_detection_in_cherry_leaves/cherry-leaves/train